{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": 0,
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true
      }
    ],
    "generator-star-spacing": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-await-in-loop": 0,
    "no-return-await": 0,
    "class-methods-use-this": 0
  }
}
